
/* small or mobile  device  */

@media screen and (max-width:576px) {

    /* nav secton start  */
    .nav-links{
        display: none;
    }
    .hamburger-menu{
        display: block;
        display: flex;
        flex-direction: column;
    }
    .hamburger-menu:hover .dropdown > li a {
        display: block;        
    }
    
    /* nav section end  */

    /* banner section start  */
    .banner-section-container{
        flex-direction: column;

    }
    .banner-text{
        margin-left: 15px;
        margin-top: 51px;
        
    }
    .banner-title{
        width: 244px;
        line-height: 40px;
        font-size: 32px;
        font-weight: bolder;
    } 
    .banner-description{
        margin: 10px auto;
        width: 200px;
    }
    .btn-container{
        display: flex;
        gap: 5px;
    }
    .btn-primary , .btn-download{
        margin-left: 0;
        width: 140px;
    }
    .banner-img{
        width: 100%;
        margin-top: 10px;
    }
    .banner-img > img{
        background-color: rgba(17, 17, 17, 1);
        width: 100%;
       }
    .five-hundred{
        top: 20%;
        left: 58%;
        width: 130px;
        height: 98px;
    }
    .three-hundred{
        top: 70%;
        left: 10%;
        width: 130px;
         height: 98px;
    }
   
    /* banner section end  */

    /* change your habit section start */
    .change-your-habit-container{
        margin-top: 0px;
        margin-bottom: 0px;

    }
    .change-your-habit-text{
        width: 90%;
        margin: 0 auto;
    }
    .change-habit-action-container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 40px;
        justify-items: center;
        
    }
    
    /* change your habit section ends */

    /* exercises-section start  */
    .exersises-text-container{
        width: 95%;
    }
    .ex-title{
        height: max-content;
        display: flex;
        padding-left: 10px;
    }
    .exersises-titile{
      transform: none;
      margin-left: 10px;
      width: 80%;
      font-size: xx-large;

    }
    .exersises-peragraph{
        width: 90%;
        padding-left: 10px;
    }
    .exersises-imager-container{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        padding-left: 5px;
        padding-right: 5px;
    }
    .box-1{
        display: block;
        grid-column: span 1;
    }
    .box-2{
        display: block;
        grid-column: span 1;
        background-position:  right ;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box-3{
        display: none;
    }
    .box-4{
        display: block;
        grid-column: span 1;
        background-position:  top center ;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box-4 > .inner-box-4{
        
        align-items: flex-end ;
        .box-4-text{
            width: 120px;
            padding-bottom: 10px;
        }
    }
    .box-5{
        display: block;
        grid-column: span 1;

    }
    .box-6{
     
        display: none;
        background-position:  right ;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* run extra section start  */
    .run-extra-section{
        margin-top: 0;
    }
    .run-extra-container{
        flex-direction: column;
        background-color: rgba(34, 34, 34, 1);
        width: 80%;
        margin: 0 auto;
    }
    .run-extra-text{
        width: 100%;
        padding: 10px;
    }
    .run-btn-container .btn-home{
        width: 90%;
    }
    .running-pic{
        width: 100%;
        height: 200px;
        background-image: url('../images/run.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%;
        }
    /* run extra section end  */
      /* trainer and exersicses section start here  */
      .exercises-section{
        max-width: 1440px;
        min-height: 600px;
        background-color: rgba(17, 17, 17, 1);
        padding-bottom: 10px;

    }
    .exersises-text-container{
        width: 100%;
        height: fit-content;
    }
    .exersises-titile{
        padding: 0px 0;
        font-weight: bolder;
        transform: none ;
        margin-top: 0px;
        margin-left: 0px;
    }
    .exersises-peragraph{
        margin-top: 25px;
    }
        /* tariner and exersicses section ends here  */

     /* <!-- BMI-calculator section start here  --> */
    
    .bmi-calculator-container{
        width: 85%;
        margin: 0px auto;
    }
    /* <!-- BMI-calculator section end here  --> */

    /* <!-- BMI section start here  --> */
    .bmi-section-container{
       flex-direction: column;
       width: 90%;
       
    }
    .bmi-chart-container{
        width: 100%;
     }
     .table-container{
        width: 100%;
        margin: 50px auto;
    }
    .calculate-bmi-container{
        width: 100%;
        padding-top: 40px;

    }
    .bmi-input-container{
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
        padding: 5px;
        width: 95%;
    }
    .height-cm , .weight-cm , .age {
        width: 70%;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: gray;
        color: black;
        border: none;
    }
    .calculate-btn-container{
        margin-top: 20px;
        margin-bottom: 20px;
  
    }
    .cal{
        width: 70%;
    }
    /* <!-- BMI section ends here  --> */
    
    /* <!-- meet our team section start here  --> */
    .our-team-text-container{
        width: 90%;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
       
    }
    .our-team-photo-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px;
        height: max-content;
    }
    .photo-1{
        display: none;
    }
    .photo-2 {
           display: block;
    }
    
    .photo-3 {
           display: block;
            grid-row-start: 3;
    }
    .photo-4 {
           display: none;
    }
    .photo-5 {
        display: block;
    }
    .photo-6 {
           display: block;
    }

    /* <!-- meet our team section ends here  --> */

    /* footer section start here  */
    
    .about-us-section{
      flex-direction: column;
      border: none;
      
     }
     .fitness-title{
        font-size: 60px;
        margin: 20px 0;
     }
     .about-us-peragraph{
        width: 245px;
     }
     .about-us-container{
        width: 99%;
        padding: 0;
     }
     .about-us-inner-container  {
        width: 90%;
        padding: 0;
     }
     .get-started-container{
        width: 100%;
        flex-direction: column;
        gap: 20px;
     }
     .get-start-1 , .get-start-2 {
        width: 80%;
     }
     .get-start-2 {
        margin-bottom: 50px;
     }
     .copyright-boder{
        width: 95%;
    }
}