/* font set start here  */

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .miama-font{
      font-family: 'Miama', sans-serif;
      font-style: italic;
  }
                                                  
  /* font set ends here  */
  /* universal selector */
  *{
      margin: 0;
      padding: 0;
      box-sizing: 0;
  }
  /* shared style start here  */ 
  .flex{
      display: flex;
  }
  .grid{
      display: grid;
  }
  .btn-home{
      width: 92px;
      height: 38px;
      border-radius: 46px;
      background-color:rgba(230, 83, 60, 1);
      color: #ffff;
      border: none;
  }
  .btn-primary{
    width: 224px;
    height: 56px;
    border-radius: 46px;
    background-color:rgba(230, 83, 60, 1);
    color: #ffff;
    border: none;
  }
  .btn-download{
    width: 224px;
    height: 56px;
    border-radius: 46px;
    background-color: transparent;
    color: #ffff;
    border: 2px solid white;
  }
  .primary-color{
    color:rgba(239, 237, 232, 0.65);
  }
  .orange{
      color:rgba(230, 83, 60, 1);
  }
  .white{
    color: #ffff;
  }
  
  /* shared style ends  here  */ 
  
  /* header section start here  */
  
  /* navication section start here  */
  header{
      max-width: 1440px;
      background-color:rgba(17, 17, 17, 1);
    
  }
  .nav-wraper{
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: rgba(17, 17, 17, 1);
      padding: 5px 0;
     
  }
  .nav-bar-main{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%; 
  }
  .nav-title{
      font-size: xx-large;
      font-weight: bolder;
      font-style: italic;
      
  }
  .nav-links{
      display: flex;
      align-items: center;
      border-radius: 39px;
      /* border: 1px double gray; */
      box-shadow: .50px .50px 1px lightgray;
      padding: 8px; 
  }
  .nav-links a , .nav-links li{
      text-decoration: none;
      color: white;
      list-style: none;
      margin-left: 40px;
  }
  
  .hamburger-menu{
    background-color: wheat;
    display: none;
  }
  /* navication section ends here  */
  
  /* banner section start here  */
  .banner-section-container{
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .banner-text{
        width: 45%;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
  }
  .banner-title{
        color:#ffff;
        font-size: xx-large;
        font-weight: bolder;
        width: fit-content;
  }
  .banner-description{
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .btn-container{
    display: flex;
    gap: 14px;
}
  .banner-img{
        width: 45%;
        display: flex;
        justify-content: center;
        
  }
  .banner-img > img{
   position: relative;
  }
  .five-hundred{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 45%;
    left: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

  }
  .three-hundred{
        width: 193px;
        height: 98px;
        border-radius: 12px;
        background-color: rgba(48, 48, 48, 0.54);
        position: absolute;
        top: 85%;
        left: 58%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
  }

  /* banner section ends  here  */

  /* change your habit section start here  */
    .change-your-habit-section{
        border: 2px solid violet;
        max-width: 1440px;
        min-height: 500px;
    }
    .change-your-habit-container{
        border: 2px solid red;
        /* width: 1044px; */
        width: 80%;
        min-height: 500px;
        margin: 100px auto;
    }
    .change-your-habit-text{
      
        border: 2px solid black;
        width: 70%;
        margin: 0 auto;
    }
    .habit-title{
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
    }
    .change-your-habit-description{
        margin-top: 14px;
        text-align: center;           
    }
    .change-habit-action-container{
        margin-top: 58px;
        border: 2px solid blue;
        
    }
    .action-container-1{
      border: 2px solid black;  
      width: 231px;
    }
    .action-container-2{
    border: 2px solid black;
    width: 231px;
    }
    .action-container-3{
    border: 2px solid black;
    width: 231px;
    }
    .action-container-4{
    border: 2px solid black;
    width: 231px;
    }
    .img-1 , 
    .img-2 ,
    .img-3 ,
    .img-4 {
        border: 2px solid violet;
        width: 55%;
    }
    .img-1 img , 
    .img-2 img ,
    .img-3 img ,
    .img-4 img {
       width: 100%;
       border-radius: 50%;
    }
  /* change your habit section ends here  */img 

  /* header section ends  here  */