/* font set start here  */

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .miama-font{
      font-family: 'Miama', sans-serif;
      font-style: italic;
  }
                                                  
  /* font set ends here  */
  /* universal selector */
  *{
      margin: 0;
      padding: 0;
      box-sizing: 0;
  }
  /* shared style start here  */ 
  .flex{
      display: flex;
  }
  .grid{
      display: grid;
  }
  .btn-home{
      width: 92px;
      height: 38px;
      border-radius: 46px;
      background-color:rgba(230, 83, 60, 1);
      color: #ffff;
      border: none;
      
  }
  .btn-home:hover ,.btn-primary:hover ,
  .btn-download:hover {
    transition: background-color 1ms 1s , transform 1ms 1s;
    background-color: gray;
    transform:scale(1.1) ; 
    cursor:pointer;
  }
  .nav-links a:hover{
    color: red;
    
  }
  .btn-primary{
    width: 224px;
    height: 56px;
    border-radius: 46px;
    background-color:rgba(230, 83, 60, 1);
    color: #ffff;
    border: none;
  }
  .btn-download{
    width: 224px;
    height: 56px;
    border-radius: 46px;
    background-color: transparent;
    color: #ffff;
    border: 2px solid white;
  }
  .primary-color{
    color:rgba(239, 237, 232, 0.65);
  }
  .orange{
      color:rgba(230, 83, 60, 1);
  }
  .white{
    color: #ffff;
  }
  .share-title{
    color:#ffff;
    font-size: xx-large;
    font-weight: bolder;
    width: fit-content;
}
  /* shared style ends  here  */ 
  
  /* header section start here  */
  
  /* navication section start here  */
  header{
      max-width: 1440px;
      margin: 0 auto;
      background-color:rgba(17, 17, 17, 1);
    
  }
  .nav-wraper{
      padding-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: rgba(17, 17, 17, 1);
      padding: 5px 0;
     
  }
  .nav-bar-main{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%; 
  }
  .nav-title{
      font-size: xx-large;
      font-weight: bolder;
      font-style: italic;    
  }
    .nav-bar-main:hover .nav-title{
        transition: transform ease 1s 10ms;
        transform: scale(1.4) ;
    }
  .nav-links{
      display: flex;
      align-items: center;
      border-radius: 39px;
      /* border: 1px double gray; */
      box-shadow: .50px .50px 1px lightgray;
      padding: 8px; 
  }
  .nav-links a , .nav-links li{
      text-decoration: none;
      color: white;
      list-style: none;
      margin-left: 40px;
  }
  
  /* .hamburger-menu{
    background-color: wheat;
    display: none;
  } */

   /* style .hamburger-menu start here */
   :root{
    --hamburger-color:white;
    --primary-color:rgba(230, 83, 60, 1);
   }
  .hamburger-menu{
    border: 3px solid var(--hamburger-color) ;
    width: 17px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
    .inner-line-1{
        border: 2px solid var(--hamburger-color);
            width: 14px;
        }
        .inner-line-2{
        border: 2px solid var(--hamburger-color);
            width: 14px;
        }
        .inner-line-3{
        border: 2px solid var(--hamburger-color);
            width: 14px;
        }
        position: relative;
}

/* .hamburger-menu-1{
    background-color: white;
} */
/* hamburger-menu setup start here  */
.dropdown{
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 5px;

}
.dropdown >li{
    list-style: none;
    gap: 3px;
    width: 60px;
    text-align: center;
}
.dropdown li a{
    border: 1px solid white;
    display: none;
    text-decoration: none;
    color: wheat;
}
/* hamburger-menu setup ends here  */

  /* navication section ends here  */
  
  /* banner section start here  */
  .banner-section-container{
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .banner-text{
        width: 45%;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
  }
  .banner-title{
        color:#ffff;
        font-size: xx-large;
        font-weight: bolder;
        width: fit-content;
  }
  .banner-description{
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .btn-container{
    display: flex;
    gap: 14px;
}
  .banner-img{
        width: 45%;
        display: flex;
        justify-content: center;
        position: relative;
  }
  .five-hundred{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 20%;
    left: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

  }
  .three-hundred{
        width: 193px;
        height: 98px;
        border-radius: 12px;
        background-color: rgba(48, 48, 48, 0.54);
        position: absolute;
        top: 70%;
        left: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        filter: blur(30%);
  }
  .three-dot{
    width: 30px;
    height: 30px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
  }
  .three-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* banner section ends  here  */
  /* header section ends   */
  /* main section   */
  /* change your habit section start here  */
    .change-your-habit-section{
        max-width: 1440px;
        margin: 0 auto;
        background-color:rgba(17, 17, 17, 1);
    }
    .change-your-habit-container{
        /* width: 1044px; */
        width: 80%;
        min-height: 500px;
        margin: 0 auto;
        padding-top: 20px;
    }
    
    .change-your-habit-text{
        width: 70%;
        margin: 0 auto;
    }
    .habit-title{
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
    }
    .change-your-habit-description{
        margin-top: 14px;
        text-align: center;           
    }
    .change-habit-action-container{
        margin-top: 58px;
        display: grid;
        grid-template-columns: repeat(4 ,25%);
        justify-content: space-evenly;
        
    }
    .action-container-1{ 
      width: 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .action-container-2{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .action-container-3{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .action-container-4{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .img-1 , 
    .img-2 ,
    .img-3 ,
    .img-4 {
        width: 55%;
    }
    .img-1 img , 
    .img-2 img ,
    .img-3 img ,
    .img-4 img {
       width: 100%;
       border-radius: 50%;
    }
    .action-container-1:hover .img-1 ,
    .action-container-2:hover .img-2 ,
    .action-container-3:hover .img-3 ,
    .action-container-4:hover .img-4 ,
    .action-container-5:hover .img-5 ,
    .action-container-6:hover .img-6{
        transition: transform  .50s ;
    }
    .action-container-1:hover .img-1 ,
    .action-container-2:hover .img-2 ,
    .action-container-3:hover .img-3 ,
    .action-container-4:hover .img-4 ,
    .action-container-5:hover .img-5 ,
    .action-container-6:hover .img-6{ 
        transform:scale(1.2)translateY(-2px) ; 
        cursor:pointer;
    }
    /* share margin for image container */
    .margin-img{
        margin-top: 30px;
    }
    .margin-short{
        margin-top: 10px;
    }
  /* change your habit section ends here  */

    /* run extra section start here  */
    .run-extra-section{
        max-width: 1440px;
        margin: 0 auto;
        background-color: rgba(17, 17, 17, 1);
    }
    .run-extra-container{
        padding: 30px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(34, 34, 34, 1);
        width: 80%;
        margin: 0 auto;
    }
    .run-extra-text{
        width: 50%;
        padding: 10px;
    }
   
    .running-pic{
        width: 30%;
        border-radius: 18px;
        background-image: url('../images/run.jpg');
        background-repeat: no-repeat;
        background-position: -300px;
        background-position-y: 20%;
        background-size: 45em;
    }
    /* run extra section ends here  */

        /* trainer and exersicses section start here  */
    .exercises-section{
        max-width: 1440px;
        margin: 0 auto;
        min-height: 600px;
        background-color: rgba(17, 17, 17, 1);
        margin-top: 0;
    }
    .exersises-text-container{
        width: 70%;
        margin: 0 auto;
        background-color: rgba(17, 17, 17, 1);
        padding-top: 30px;

    }
    .exersises-titile{
        padding: 10px 0;
        font-weight: bolder;
        transform: scale(1.25) ;
        margin-top: 10px;
        margin-left: 50px;
    }
    .exersises-peragraph{
        margin-top: 25px;
    }
    /* exersise image banner start here  */
    .exersises-imager-container{
        width: 70%;
        height: 400px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
    }
   
    .box-1{
        
        background-image: url('../images/exercise1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;     
    }
    .box-1 > .inner-box-1{
        width: 100%;
        height: 100%;
        background-color: rgba(6, 255, 209, 0.306);
        z-index: 1;
        display: flex;
        justify-content: left;
        align-items: flex-end ;
        .box-1-text{
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 15px;
        }
    }
    .box-2{
        background-image: url('../images/exercise2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: span 2;

    }
    .box-2 > .inner-box-2{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 0, 0, 0.3);
        z-index: 1;
        display: flex;
        justify-content: left;
        align-items: flex-start ;
        .box-2-text{
            font-size: 14px;
            padding-top: 20px;
            padding-left: 20px;
            color: #ffff;
        }
    }
    .box-3{
        background-image: url('../images/exercise3.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box-3 > .inner-box-3{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        justify-content: left;
        align-items: flex-end ;
        .box-3-text{
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 15px;
            color: #ffff;
        }
    }
    .box-4{
        background-image: url('../images/exercise4.png');
        background-position: center;
        background-size:  cover;
        background-repeat: no-repeat;
        grid-column: span 2;
        
      
    }
    .box-4 > .inner-box-4{
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        justify-content: right;
        align-items: flex-start ;
        .box-4-text{
            width: 40%;
            font-size: 14px;
            padding-top: 20px;
            padding-right: 20px;
            color: #ffff;
        }
    }
    .box-5{
        background-image: url('../images/exercise5.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      
    }
    .box-5 > .inner-box-5{
        width: 100%;
        height: 100%;
        background-color: rgba(66, 255, 0, 0.3);
        z-index: 1;
        display: flex;
        justify-content: left;
        align-items: flex-end ;
        .box-5-text{
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 15px;
            color: #ffff;
        }
    }
    .box-6{
        background-image: url('../images/exercise6.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .box-6 > .inner-box-6{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 71, 255, 0.3);
        z-index: 1;
        display: flex;
        justify-content: left;
        align-items: flex-end ;
        .box-6-text{
            font-size: 14px;
            padding-bottom: 15px;
            padding-left: 15px;
            color: #ffff;
        }
    }
        /* tariner and exersicses section ends here  */

    /* <!-- BMI-calculator section start here  --> */
    .bmi-calculator-section{
        max-width: 1440px;
        min-height: 200px;
        margin: 0 auto;
        padding-top: 30px;
        background-color: rgba(17, 17, 17, 1);
    }
    .bmi-calculator-container{
        width: 60%;
        margin: 0px auto;
        padding: 80px 0;
    }
    /* <!-- BMI-calculator section end here  --> */

    /* <!-- BMI section start here  --> */
    .bmi-section{
        max-width: 1440px;
        margin: 0 auto;
        background-color: rgba(34, 34, 34, 1);
    }
    .bmi-section-container{
        width: 80%;
        min-height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
      /* table style start here  */
      .bmi-chart-container{
        width: 40%;
     }
    .table-caption{
        text-align: center;
        margin-bottom: 30px;
    }
    .table-container{
        width: 90%;
        height: 50%;
        border-collapse: collapse;
        margin: 50px auto;
        text-align: left;
    }
    td ,th{
        border: 1px solid gray;
        padding: 10px 20px;
    }
/* table style end here  */
/* bmi-calculate section start here  */
    .calculate-bmi-container{
        width: 50%;
        padding-top: 40px;

    }
    .calculate-bmi-peragraph{
        margin-top: 30px;
    }
    .bmi-input-container{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 10px;
      
    }
    .input-5{ 
        grid-column: span 2;
    }
    .height-cm , .weight-cm , .age {
        width: 82%;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: gray;
        color: black;
        border: none;
    }
    .height-cm::placeholder{
        color: white;
    }
    .weight-cm::placeholder{
        color: white;
    }
    .age::placeholder{
        color: white;
    }
    #sex{
        background-color: gray;
        width: 100%;
        padding: 10px 20px;
        border-radius: 8px;
    }
    #factor{
        background-color: gray;
        width: 100%;
        padding: 10px 20px;
        border-radius: 8px;
    }
    .calculate-btn-container{
        margin-top: 40px;
        padding: 10px;
    }
    .calculate-btn-container:hover .cal{
        transition: transform ease 1s 1s;
        transform: scale(.75);
        background-color: rgb(90, 121, 90);
    }
    .cal{
        font-size: medium;
    }
    /* bmi-calculate section ends here  */
    /* <!-- BMI section ends here  --> */
    
    /* <!-- meet our team section start here  --> */
            .meet-our-team-section{
                max-width: 1440px;
                margin: 0 auto;
                background-color: rgba(17, 17, 17, 1);

            }
            .our-team-text-container{
                width: 55%;   
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top:  40px ;
                background-color: rgba(17, 17, 17, 1);
                padding-bottom: 20px;
            }
            .our-team-photo-container{
                width: 70%;
                margin: 0 auto;
                height: 450px;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 10px;
                padding: 30px;
                background-color: rgba(34, 34, 34, 1);
            }
           
            .photo-1 {            
                background-image: url('../images/trainer1.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 16px;
                filter: brightness(90%);
                 
            }
            .photo-2 {    
                background-image: url('../images/trainer2.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 16px;
                filter: brightness(90%);
            }
            .photo-3{   
                background-image: url('../images/trainer3.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 16px;
                filter: brightness(90%);
                
            } 
            .photo-4 {
                background-image: url('../images/trainer4.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 16px; 
                filter: brightness(90%);
            }
            .photo-5 {
                background-image: url('../images/trainer5.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 16px;   
                filter: brightness(90%); 
            }
            .photo-6 {
                background-image: url('../images/trainer6.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 16px;
                filter: brightness(90%);
  
            }
            .photo-1:hover .name ,
            .photo-2:hover .name ,
            .photo-3:hover .name ,
            .photo-4:hover .name ,
            .photo-5:hover .name ,
            .photo-6:hover .name {
                transition: transform step-end 1s 5ms ,color step-end 1s 5ms;
                transform: scale(1.2) translateX(8px);
                color: yellow;
             }
            /* share margin and color for photo text start */
            .photo-text-margin{
                margin-top: 160px;
                margin-left: 18px;
                margin-bottom: 20px;
            }
            .name{
                color:white;
                font-weight: bolder;
                margin-bottom: 7px;
            }
            .trainer{
                color:rgba(239, 237, 232, 0.932);
                font-size: small;
            }
            /* share margin and color for photo text end  */
     /* <!-- meet our team section ends here  --> */
     /* footer section start here  */
     .about-us-section{
        max-width: 1440px;
        min-height: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: rgba(34, 34, 34, 1);
     }
     .about-us-container{
        width: 45%;
        min-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

     }
     
     .about-us-inner-container{
        width: 80%;
     }
     .fitness-title{
        font-size: xx-large;
        font-weight: bolder;
        font-style: italic;
        transform: scale(1.75) translateX(95px);
        margin: 20px 0;
     }
     .get-started-container{
        width: 50%;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
     }
     .get-start-1 , .get-start-2 {
        width: 45%;
     }
     .start-links , .start-links a{
        text-decoration: none;
        list-style: none;
        margin-top: 5px;
         color:rgba(239, 237, 232, 0.65);
         font-size: larger;

     }
     .start-links > li{
        padding-top: 20px;
     }
     .start-links :hover a{
        color: red;
     }
     .copyright-section{
        max-width: 1440px;
        margin: 0 auto;
        background-color: rgba(34, 34, 34, 1);
     }
    .copyright-boder{
        border: 1px dotted gray;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        color:rgba(239, 237, 232, 0.65);
        
    }
    